@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Custom dots carousel */
.slick-dots li {
  width: 32px;
}

.slick-dots li.slick-active {
  width: 50px;
}

.slick-dots li button:before {
  content: '';
  width: 32px;
  height: 6px;
  opacity: 1;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #dce0e3;
  transition: width 0.3s linear, background-color 0.3s linear;
}

.slick-dots li.slick-active button:before {
  width: 50px;
  background-color: #9aa6af;
}

.slick-dots {
  text-align: left;
  top: 105%;
}
